In [3]:
import pandas as pd
import sqlite3
import zipfile
import io

In [4]:
conn = sqlite3.connect(r"C:\Users\vishp\Downloads\eng_subtitles_database.db")
cursor = conn.cursor()
print(cursor)
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
print(cursor.fetchall())

<sqlite3.Cursor object at 0x000001A25D279DC0>
[('zipfiles',)]

In [5]:
df = pd.read_sql_query("""SELECT * FROM zipfiles""", conn)
df.head()

,num,name,content
0,9180533,the.message.(1976).eng.1cd,b'PK\x03\x04\x14\x00\x00\x00\x08\x00\x1c\xa9\x...
1,9180583,here.comes.the.grump.s01.e09.joltin.jack.in.bo...,b'PK\x03\x04\x14\x00\x00\x00\x08\x00\x17\xb9\x...
2,9180592,yumis.cells.s02.e13.episode.2.13.(2022).eng.1cd,b'PK\x03\x04\x14\x00\x00\x00\x08\x00L\xb9\x99V...
3,9180594,yumis.cells.s02.e14.episode.2.14.(2022).eng.1cd,b'PK\x03\x04\x14\x00\x00\x00\x08\x00U\xa9\x99V...
4,9180600,broker.(2022).eng.1cd,b'PK\x03\x04\x14\x00\x00\x00\x08\x001\xa9\x99V...

In [6]:
df.head()

,num,name,content
0,9180533,the.message.(1976).eng.1cd,b'PK\x03\x04\x14\x00\x00\x00\x08\x00\x1c\xa9\x...
1,9180583,here.comes.the.grump.s01.e09.joltin.jack.in.bo...,b'PK\x03\x04\x14\x00\x00\x00\x08\x00\x17\xb9\x...
2,9180592,yumis.cells.s02.e13.episode.2.13.(2022).eng.1cd,b'PK\x03\x04\x14\x00\x00\x00\x08\x00L\xb9\x99V...
3,9180594,yumis.cells.s02.e14.episode.2.14.(2022).eng.1cd,b'PK\x03\x04\x14\x00\x00\x00\x08\x00U\xa9\x99V...
4,9180600,broker.(2022).eng.1cd,b'PK\x03\x04\x14\x00\x00\x00\x08\x001\xa9\x99V...

In [7]:
from tqdm import tqdm, tqdm_notebook
tqdm.pandas()

In [8]:
df['content']

0        b'PK\x03\x04\x14\x00\x00\x00\x08\x00\x1c\xa9\x...
1        b'PK\x03\x04\x14\x00\x00\x00\x08\x00\x17\xb9\x...
2        b'PK\x03\x04\x14\x00\x00\x00\x08\x00L\xb9\x99V...
3        b'PK\x03\x04\x14\x00\x00\x00\x08\x00U\xa9\x99V...
4        b'PK\x03\x04\x14\x00\x00\x00\x08\x001\xa9\x99V...
                               ...
82493    b'PK\x03\x04\x14\x00\x00\x00\x08\x00\xb8\xa6\x...
82494    b'PK\x03\x04\x14\x00\x00\x00\x08\x00\x13\x97\x...
82495    b'PK\x03\x04\x14\x00\x00\x00\x08\x00$\x97\x9aV...
82496    b'PK\x03\x04\x14\x00\x00\x00\x08\x00\x00\x97\x...
82497    b'PK\x03\x04\x14\x00\x00\x00\x08\x00,\x97\x9aV...
Name: content, Length: 82498, dtype: object

In [9]:
def decode(data):
    with zipfile.ZipFile(io.BytesIO(data)) as zip_file:
        list = zip_file.namelist()[0]
        extract_zip = zip_file.read(list)
    return extract_zip.decode('latin-1')

df['content'] = df['content'].progress_apply(lambda x: decode(x))

100%|██████████| 82498/82498 [00:46<00:00, 1765.75it/s]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82498 entries, 0 to 82497
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   num      82498 non-null  int64
 1   name     82498 non-null  object
 2   content  82498 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.9+ MB

In [11]:
df.shape

(82498, 3)

In [12]:
df.size

247494

In [13]:
df.isnull().sum()

num        0
name       0
content    0
dtype: int64

In [14]:
df.describe()

                num
count  8.249800e+04
mean   9.351228e+06
std    9.882055e+04
min    9.180533e+06
25%    9.264094e+06
50%    9.349568e+06
75%    9.437720e+06
max    9.521941e+06

In [15]:
df = df.sample(frac=0.3, random_state=42)

In [16]:
import re

In [17]:
df['content']

17262    ï»¿1\r\n00:00:06,000 --> 00:00:12,074\r\nWatch...
7294     1\r\n00:00:09,275 --> 00:00:11,876\r\n¶ Oh, I ...
47707    1\r\n00:00:07,140 --> 00:00:14,220\r\n<i>Timin...
29914    1\r\n00:00:06,133 --> 00:00:08,900\r\n[etherea...
54266    ï»¿1\r\n00:00:01,480 --> 00:00:03,570\r\n[Chri...
                               ...
67460    ï»¿[Script Info]\r\nTitle: Default file\r\nScr...
15296    ï»¿1\r\n00:00:03,440 --> 00:00:06,160\r\n-Wher...
40242    ï»¿1\r\n00:00:01,101 --> 00:00:02,865\r\n<i>Pr...
56391    ï»¿1\r\n00:00:01,768 --> 00:00:03,168\r\n<i>- ...
67859    ï»¿1\r\n00:00:06,000 --> 00:00:12,074\r\napi.O...
Name: content, Length: 24749, dtype: object

In [18]:
df['content']

17262    ï»¿1\r\n00:00:06,000 --> 00:00:12,074\r\nWatch...
7294     1\r\n00:00:09,275 --> 00:00:11,876\r\n¶ Oh, I ...
47707    1\r\n00:00:07,140 --> 00:00:14,220\r\n<i>Timin...
29914    1\r\n00:00:06,133 --> 00:00:08,900\r\n[etherea...
54266    ï»¿1\r\n00:00:01,480 --> 00:00:03,570\r\n[Chri...
                               ...
67460    ï»¿[Script Info]\r\nTitle: Default file\r\nScr...
15296    ï»¿1\r\n00:00:03,440 --> 00:00:06,160\r\n-Wher...
40242    ï»¿1\r\n00:00:01,101 --> 00:00:02,865\r\n<i>Pr...
56391    ï»¿1\r\n00:00:01,768 --> 00:00:03,168\r\n<i>- ...
67859    ï»¿1\r\n00:00:06,000 --> 00:00:12,074\r\napi.O...
Name: content, Length: 24749, dtype: object

In [19]:
import nltk
import string

In [20]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\vishp\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [21]:
def clean_data(doc):
    doc = re.sub(r"\r\n",'',doc)
    doc = re.sub(r"-->","",doc)
    doc = re.sub("[<>]","",doc)
    doc = re.sub('^.*?¶\s*|ï»¿\s*|¶|âª', '', doc)

    doc = "".join([char for char in doc if char not in string.punctuation and not char.isdigit()])
    doc = doc.lower()
    doc = doc.strip()
    
    return doc

df['content'] = df['content'].progress_apply(clean_data)

100%|██████████| 24749/24749 [04:54<00:00, 84.18it/s]

In [22]:
df

,num,name,content
17262,9251120,maybe.this.time.(2014).eng.1cd,watch any video online with opensubtitlesfree ...
7294,9211589,down.the.shore.s01.e10.and.justice.for.all.(19...,oh i know that its getting late but i dont ...
47707,9380845,uncontrollably.fond.s01.e07.heartache.(2016).e...,itiming and subtitles by the uncontrollable lo...
29914,9301436,screen.two.s13.e04.the.precious.blood.(1996).e...,ethereal music apiopensubtitlesorg is depreca...
54266,9408707,battlebots.(2015).eng.1cd,chris oh nonot the minibots yelling oh you le...
...,...,...,...
67460,9458807,kevin.can.wait.s01.e13.ring.worm.(2017).eng.1cd,script infotitle default filescripttype vwraps...
15296,9244890,bia.s01.e29.episode.1.29.(2019).eng.1cd,where did that come fromi dont know its a tap...
40242,9345965,heroes.s02.e11.chapter.eleven.powerless.(2007)...,ipreviously oni heroes tell me where i can fi...
56391,9417351,hot.in.cleveland.s05.e09.bad.george.clooney.(2...,i hot in clevelandi is recorded in frontof a ...
67859,9460606,silk.stalkings.s04.e18.i.know.what.scares.you....,apiopensubtitlesorg is deprecated pleaseimplem...

In [23]:
chunk_size  = 500 
overlap =100

def chunk_text(text, chunk_size,overlap):
    chunks = []
    start =0
    while start < len(text):
        chunk = text[start:start + chunk_size]
        chunks.append(chunk.lower())
        start+=chunk_size -overlap
    return chunks

df['chunks'] =df['content'].progress_apply(lambda x: chunk_text(x,chunk_size,overlap))

100%|██████████| 24749/24749 [00:14<00:00, 1753.66it/s]

In [24]:
df.head()

,num,name,content,chunks
17262,9251120,maybe.this.time.(2014).eng.1cd,watch any video online with opensubtitlesfree ...,[watch any video online with opensubtitlesfree...
7294,9211589,down.the.shore.s01.e10.and.justice.for.all.(19...,oh i know that its getting late but i dont ...,[oh i know that its getting late but i dont...
47707,9380845,uncontrollably.fond.s01.e07.heartache.(2016).e...,itiming and subtitles by the uncontrollable lo...,[itiming and subtitles by the uncontrollable l...
29914,9301436,screen.two.s13.e04.the.precious.blood.(1996).e...,ethereal music apiopensubtitlesorg is depreca...,[ethereal music apiopensubtitlesorg is deprec...
54266,9408707,battlebots.(2015).eng.1cd,chris oh nonot the minibots yelling oh you le...,[chris oh nonot the minibots yelling oh you l...

In [25]:
from sentence_transformers import SentenceTransformer, util
from chromadb.utils import embedding_functions
import chromadb

In [26]:
df1 = df.sample(frac=0.5, random_state=42)

In [27]:
model_name = 'all-MiniLM-L6-v2'
model = SentenceTransformer(model_name, device='cpu')
df1['encoding_data'] = df1.chunks(model.encode)

README.md:   0%|          | 0.00/10.5k [00:00<?, ?B/s]

TypeError: 'Series' object is not callable

In [ ]:
client = chromadb.PersistentClient(path="searchengine_database")
collection = client.get_or_create_collection(name="search_engine", metadata={"hnsw:space": "cosine"})

def store_encoder_db(df):
    for i in range(df.shape[0]):
        embedding_list = df['encoding_data'].iloc[i].tolist()
        collection.add(
            documents=[df['name'].iloc[i]],
            embeddings=[embedding_list],  
            ids=[str(df['num'].iloc[i])]
        )

store_encoder_db(df)